<a href="https://colab.research.google.com/github/MPrasanna14/prasanna_INFO5731_Fall2023/blob/main/Malreddy_Prasanna_exercise1_08_30_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
length = float(input("Enter the length of rectangle: "))
width = float(input("Enter the width of rectangle: "))
area = length * width
print("The area of the rectangle is:", area)

Enter the length of rectangle: 4
Enter the width of rectangle: 3
The area of the rectangle is: 12.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:

N1 = float(input("Enter the first number:"))
N2 = float(input("Enter the second number:"))
N1 = N1 + N2
N2 = N1 - N2
N1 = N1 - N2
print(N1)
print(N2)

Enter the first number:10
Enter the second number:5
5.0
10.0

(3) Write a Python program to calculate the length of a string.

In [ ]:
"""
STR = "Computational Methods"
print("Length of the given string is:", len(STR))
"""

str = input("Enter a string: ")
length = 0
for char in str:
    length += 1
print(f"The length of the string is: {length}")

Enter a string: I'm a good girl
The length of the string is: 15

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
str = input("Enter a string: ")
count = {}
for char in str:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1
print("Count of each charater in the given string:", count)

Enter a string: google.com
Count of each charater in the given string: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [32]:
list = [11, 5, 3, 2]
sum = 0
for i in list:
  sum += i

print("Sum of list items is:", sum)

Sum of list items is: 21

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [46]:
str = "restart"
if len(str) > 0:
    modified_string = str[0] + str[1:].replace(str[0], '$')
    print(f"Modified string: {modified_string}")
else:
    print("The input string is empty.")

Modified string: resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [61]:
Num = int(input("Enter the number:"))
factorial = 1
while Num >= 1:
  factorial *= Num
  Num -= 1

print("Factorial of a number is:", factorial)

Enter the number:10
Factorial of a number is: 3628800

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [77]:
List = [10, 11,12, 13, 14, 15, 16, 17]
new_list = []
for num in List:
    if num % 2 == 0:
        new_list.append(num)
print("List of even numbers:", new_list)

List of even numbers: [10, 12, 14, 16]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [78]:
a = int(input("Enther the a value:"))
b = int(input("Enther the b value:"))
s = 3.14 * pow(1+ a/b,3)
print(s)

Enther the a value:2
Enther the b value:2
25.12

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [81]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}
resultdict = {}
resultdict.update(dict1)
resultdict.update(dict2)
resultdict.update(dict3)
print(resultdict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [90]:
Tuple = (11, 12, 13, 14, 15, 20)
smallest = largest = Tuple[0]
for num in Tuple:
        if num < smallest:
            smallest = num
        elif num > largest:
            largest = num

print(f"Largest: {largest}")
print(f"Smallest: {smallest}")

Largest: 20
Smallest: 11

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [99]:
str = "Computational Methods"
char_frequency = {}
for char in str:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
print("Frequency of each charater in the given string:", char_frequency)

Frequency of each charater in the given string: {'C': 1, 'o': 3, 'm': 1, 'p': 1, 'u': 1, 't': 3, 'a': 2, 'i': 1, 'n': 1, 'l': 1, ' ': 1, 'M': 1, 'e': 1, 'h': 1, 'd': 1, 's': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [110]:
tuple = (11, 12,13, 14, 15)
element = int(input("Enter an element to check"))
if element in tuple:
    print(f"{element} exists in the tuple.")
else:  print(f"{element} does not exist in the tuple.")

Enter an element to check14
14 exists in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [117]:
my_set = {11, 12, 13, 14, 15, 20}
smallest, largest = min(my_set), max(my_set)
for num in my_set:
        if num < smallest:
            smallest = num
        elif num > largest:
            largest = num

print(f"maximum: {largest}")
print(f"minimum: {smallest}")

maximum: 20
minimum: 11

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [121]:
import random
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770',
                          'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022',
                          'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364',
                          'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508',
                          'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']
random.shuffle(student_list_fall_2023)
group_count = 0
student_index = 0
while student_index < len(student_list_fall_2023):
    group_count += 1
    group_size = random.randint(4, 6)
    group_size = min(group_size, len(student_list_fall_2023) - student_index)
    group_students = student_list_fall_2023[student_index:student_index + group_size]
    student_index += group_size
    print(f"Group {group_count}: {', '.join(group_students)}")
print(f"Total number of groups: {group_count}")

Group 1: sp2075, gm0558, ab1820, sd0926, mb1296, as2819
Group 2: htn0086, ss2981, rm1090, ad1187
Group 3: bk0413, sd1268, mt0825, sm2364, mc1453
Group 4: gp0306, su0137, sb1826, lb0582, am2346, dt0463
Group 5: ns0756, sg1638, dv0310, vr0331
Group 6: sm2747, mg1299, sc1622, yr0180, lp0502, ac1770
Group 7: sr1508, sb1883, gk0257, pm0658, am2807, ag1609
Group 8: sm2343, tc0469, vkk0022, vm0597
Total number of groups: 8

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [123]:
input_str = input("Enter a list of integers separated by spaces: ")
arr = [int(num) for num in input_str.split()]
unique_elements = set()
duplicate_elements = []
for num in arr:
    if num in unique_elements:
        if num not in duplicate_elements:
            duplicate_elements.append(num)
    else:
        unique_elements.add(num)
if duplicate_elements:
    print("Duplicate elements:", duplicate_elements)
else:
    print("-1 (No duplicate elements found)")

Enter a list of integers separated by spaces: 2 2 3 3 4 5 6 8 9 10 7 4 11 12
Duplicate elements: [2, 3, 4]

(17) Write a Python program to select all the Sundays of a specified year.

In [122]:
import calendar
year = int(input("Enter a year: "))
for month in range(1, 13):
    cal = calendar.monthcalendar(year, month)
    for week in cal:
        if week[6] != 0:
            print(f"Sunday: {year}-{month:02d}-{week[6]:02d}")

Enter a year: 2010
Sunday: 2010-01-03
Sunday: 2010-01-10
Sunday: 2010-01-17
Sunday: 2010-01-24
Sunday: 2010-01-31
Sunday: 2010-02-07
Sunday: 2010-02-14
Sunday: 2010-02-21
Sunday: 2010-02-28
Sunday: 2010-03-07
Sunday: 2010-03-14
Sunday: 2010-03-21
Sunday: 2010-03-28
Sunday: 2010-04-04
Sunday: 2010-04-11
Sunday: 2010-04-18
Sunday: 2010-04-25
Sunday: 2010-05-02
Sunday: 2010-05-09
Sunday: 2010-05-16
Sunday: 2010-05-23
Sunday: 2010-05-30
Sunday: 2010-06-06
Sunday: 2010-06-13
Sunday: 2010-06-20
Sunday: 2010-06-27
Sunday: 2010-07-04
Sunday: 2010-07-11
Sunday: 2010-07-18
Sunday: 2010-07-25
Sunday: 2010-08-01
Sunday: 2010-08-08
Sunday: 2010-08-15
Sunday: 2010-08-22
Sunday: 2010-08-29
Sunday: 2010-09-05
Sunday: 2010-09-12
Sunday: 2010-09-19
Sunday: 2010-09-26
Sunday: 2010-10-03
Sunday: 2010-10-10
Sunday: 2010-10-17
Sunday: 2010-10-24
Sunday: 2010-10-31
Sunday: 2010-11-07
Sunday: 2010-11-14
Sunday: 2010-11-21
Sunday: 2010-11-28
Sunday: 2010-12-05
Sunday: 2010-12-12
Sunday: 2010-12-19
Sunday: 2010-12-26

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [128]:
num = int(input("Enter a positive integer: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a positive integer: 0
The factorial of 0 is 1.

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [4]:
num = int(input("Enter a positive integer: "))
even_count = 0
for i in range(1, num + 1):
    if i % 2 == 0:
        even_count += 1
    elif i > num:
        break

print(f"Count of even numbers from 1 to {num}: {even_count}")

Enter a positive integer: 10
Count of even numbers from 1 to 10: 5

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [5]:
def count_vowels(input_string):
    vowels = set("aeiouAEIOU")
    vowel_count = 0
    for char in input_string:
        if char.isalpha() and char in vowels:
            vowel_count += 1
    return vowel_count
input_string = "Hello, World! This is a Test String."
result = count_vowels(input_string)
print(f"Number of vowels: {result}")

Number of vowels: 8